@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500&family=Roboto:wght@400;500&display=swap');

@primary: #222;
@blue: #84d9fb;
@grey: #ebeef1;
@dark-blue: #0b1f51;

@tablets: ~'(max-width: 1000px)';

* {
    box-sizing: border-box;
}

body {
    background: @grey;
    margin: 0;
    font-family: sans-serif;
    color: #5b5b5b;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Barlow', sans-serif;
    color: white;
}

button {
    background: #1d45f2;
    color: white;
    padding: 10px 25px;
    border: 0;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
    width: fit-content;
    font-size: 18px;
}

.container {
    max-width: 1200px;
    padding: 30px 100px;
}

header {
    background: white;

    .logo-mobile {
        display: none;
    }

    nav {
        // max-width: 1200px;
        margin: auto;
        height: 65px;
        background: white;
        display: flex;
        align-items: center;
        padding: 0 100px;

        img {
            height: 30px;
        }

        ul {
            display: flex;
            list-style: none;
            flex-grow: 1;
            justify-content: flex-end;

            li {
                margin: 0 20px;
                font-family: 'Barlow', sans-serif;
            }
        }
    }

    .banner {
        width: 100%;
        background: url('./assets/header-bg5.png');
        background-size: cover;
        background-position: left;
        width: 100%;
        height: 80vh;

        display: flex;
        flex-direction: column;
        justify-content: center;

        .container {
            width: 50%;

            h2 {
                font-size: 48px;
            }
        }
    }

    @media @tablets {
        .logo-mobile {
            display: block;
            width: 200px;
            position: absolute;
            top: 20px;
            left: 20px;
        }

        nav {
            padding: 0;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 0 20px;

            img {
                display: none;
            }

            ul {
                padding: 0;
                flex-wrap: wrap;
                font-size: 12px;
                justify-content: space-between;
            }
        }

        .banner {
            height: 100vh;

            .container {
                padding: 0 20px;
                width: 100%;
            }
        }
    }
}

.problems1 {
    margin: 50px auto;
    max-width: 1200px;

    .box {
        width: 100%;
        padding: 30px 100px;

        h1 {
            color: black;
            font-size: 48px;
            margin-top: 10px;
            margin-bottom: 0;
            max-width: 70%;
        }

        .subtitle {
            font-weight: bold;
            color: #1d45f2;
            margin: 0;
            font-size: 12px;
            letter-spacing: 3px;
        }

        &.list-container {
            display: flex;
            justify-content: space-between;
        }

        .list-item {
            padding: 30px;
            background: white;
            display: flex;
            align-items: flex-start;
            color: black;
            max-width: 500px;
            line-height: 1.55;
            font-size: 18px;
            -webkit-box-shadow: 10px 10px 21px 1px rgba(194, 194, 194, 0.57);
            -moz-box-shadow: 10px 10px 21px 1px rgba(194, 194, 194, 0.57);
            box-shadow: 10px 10px 21px 1px rgba(194, 194, 194, 0.57);

            svg {
                margin-right: 10px;
                width: 32px;
                height: 32px;
            }

            & + .list-item {
                margin-left: 30px;
            }
        }
    }
}

.pilares {
    background: #031456;
    padding: 100px 0;
    position: relative;
    margin: 150px auto;

    .box {
        max-width: 1200px;
        margin: 0 auto;
    }

    &--itens {
        position: absolute;
        top: calc(50% - 220px);
        left: 50%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: fit-content;
        -webkit-box-shadow: 10px 10px 19px 1px rgba(2, 16, 71, 0.63);
        -moz-box-shadow: 10px 10px 19px 1px rgba(2, 16, 71, 0.63);
        box-shadow: 10px 10px 19px 1px rgba(2, 16, 71, 0.63);

        .item {
            width: 220px;
            height: 220px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            svg {
                width: 80px;
                height: 80px;
                stroke: #4f97ca;
            }

            h2 {
                font-size: 20px;
            }

            p {
                color: #cccccc;
                font-size: 12px;
                margin: 0;
            }

            &:nth-child(1) {
                background: #051763;
            }

            &:nth-child(2) {
                background: #031456;
            }

            &:nth-child(3) {
                background: #04124a;
            }

            &:nth-child(4) {
                background: #030e3d;
            }
        }
    }

    .subtitle {
        color: #fcad3f;
        font-weight: bold;
        margin: 0;
        font-size: 12px;
        letter-spacing: 3px;
    }

    h1 {
        color: white;
        font-size: 48px;
        margin-top: 10px;
        margin-bottom: 0;
        max-width: 70%;
    }

    p {
        color: white;
    }
}

.problems {
    color: white;
    width: 90%;
    margin: -70px 0 80px 0;
    display: flex;

    .container {
        background: white;
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: 'Barlow', sans-serif;
        padding: 50px;

        -webkit-box-shadow: -9px 17px 16px -6px rgba(184, 184, 184, 1);
        -moz-box-shadow: -9px 17px 16px -6px rgba(184, 184, 184, 1);
        box-shadow: -9px 17px 16px -6px rgba(184, 184, 184, 1);

        p {
            color: @primary;
            padding: 0 20px;
            max-width: 250px;

            & + p {
                border-left: 1px solid @grey;
            }
        }
    }

    .last {
        width: 200px;
        background: @dark-blue;
        display: flex;
        align-items: center;
        justify-content: center;

        -webkit-box-shadow: -9px 17px 16px -6px rgba(184, 184, 184, 1);
        -moz-box-shadow: -9px 17px 16px -6px rgba(184, 184, 184, 1);
        box-shadow: -9px 17px 16px -6px rgba(184, 184, 184, 1);

        svg {
            animation: wave 3s ease-in-out infinite;
        }
    }

    @media @tablets {
        margin: -30px auto 80px;
        width: 90%;

        .container {
            padding: 20px;
            flex-wrap: wrap;

            p {
                padding: 20px 0;

                & + p {
                    border-left: 0px;
                    border-top: 1px solid @grey;
                }
            }
        }
    }
}

.solutions {
    background: @grey;
    margin-bottom: 70px;

    .container {
        display: flex;
        justify-content: space-around;
        margin: auto;
    }

    .title {
        margin: auto;
        padding-bottom: 10px;
        font-size: 32px;
        width: fit-content;
        border-bottom: 2px solid @blue;
        margin-bottom: 20px;
    }

    .card {
        background: white;
        width: 300px;
        padding: 30px;
        text-align: left;
        color: #5b5b5b;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);

        h2 {
            font-family: 'Barlow', sans-serif;
            color: @blue;
            text-align: left;
            margin-bottom: 30px;
        }
    }

    @media @tablets {
        .container {
            flex-wrap: wrap;
            padding: 0 20px;
        }

        .card {
            margin: 10px auto;
            width: unset;
        }
    }
}

.who-we-are {
    // background: #f8f8f8;
    margin: 100px auto;

    .container {
        display: flex;
        padding: 0;
        width: 100%;
        max-width: unset;
        justify-content: center;
        flex-wrap: wrap;
    }

    img {
        min-width: 400px;
        min-height: 450px;
        max-width: 400px;
        max-height: 450px;
        object-fit: cover;
    }

    .subtitle {
        color: #fcad3f;
        font-weight: bold;
        margin: 0;
        font-size: 12px;
        letter-spacing: 3px;
    }

    .text {
        padding: 30px;
        min-width: 400px;
        min-height: 450px;
        max-width: 400px;
        max-height: 450px;
        margin-right: 15px;

        -webkit-box-shadow: 10px 10px 21px 1px rgba(194, 194, 194, 0.57);
            -moz-box-shadow: 10px 10px 21px 1px rgba(194, 194, 194, 0.57);
            box-shadow: 10px 10px 21px 1px rgba(194, 194, 194, 0.57);

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: white;
        color: black;

        h2 {
            font-size: 32px;
            color: black;
            margin: 0;
        }

        p {
            margin: 0;
            margin-top: 20px;
            line-height: 1.45;
        }
    }

    @media @tablets {
        padding: 20px 20px 0;

        .text {
            width: 90%;
        }

        .title {
            margin: 20px auto;
        }

        .container {
            padding: 0 20px;
        }

        .content {
            flex-wrap: wrap;

            .person {
                flex-wrap: wrap;
                margin: auto auto 40px;
                text-align: center;

                img {
                    margin: auto;
                }

                .description {
                    margin: auto;
                }
            }
        }
    }
}

.clients {
    background: #f8f8f8;
    text-align: center;

    .container {
        margin: auto;

        .title {
            color: white;
            padding-bottom: 10px;
            font-size: 32px;
            width: fit-content;
            border-bottom: 2px solid white;
            margin: 40px auto;
        }

        .content {
            margin: 80px auto;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            img {
                height: 80px;
                object-fit: contain;
            }
        }
    }

    @media @tablets {
        img {
            margin: 20px auto;
        }
    }
}

@keyframes wave {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0px);
    }
}
